{{#each pressList}}
<a class="press bor-bot" href=./article.html?id={{id}} path-id={{id}}>
    <div class="press-flex">
        <div class="press-flex__info">
            <h3>{{title}}</h1>
            <p>{{summary}}</p>
        </div>
        <img src={{small_image}}?imageView2/1/w/240/h/150/ alt="">
    </div>
    <div class="press-tags">
        {{#if author.nickname}}
        <span class="press-tags__name">{{author.nickname}}</span>
        {{/if}}
        <span class="press-tags__item">{{subject.name}}</span>

        {{#if replies_count}}
            <span class="press-tage__replies"><span>{{replies_count}}</span>评论</span>
        {{/if}}
    </div>
</a>
{{/each}}
<div id="finish">勤奋创作中...
    <div id="finish-border" class="hide"></div>
</div>
