<div class="header-icon">
    <div class="header-icon__side">
        <i class="iconfont icon-sidebar"></i>
    </div>
    <a class="header-icon__logo"  href="./#index">
        <img src="./static/images/header/logo.png" alt="">
        <span>·</span>
        <span>{{titleName}}</span>
    </a>
    <div class="header-icon__search"">
        <i class="iconfont icon-sousuo"></i>
    </div>
</div>
<div class="header-nav">
    <nav class="header-nav__item">
        <a class="navLink active" href="/#index" id="index">全部</a>
        <a class="navLink" href="/#tuijian" id="tuijian">推荐</a>
        {{#each navList}}
        <a class="navLink" href=/#{{key}} id={{key}}>{{name}}</a>
        {{/each}}
    </nav> 
    <div class="header-nav__side hide"></div>
</div>